.profile .profile_inner h1 {
    display: block;
    margin: 0 auto 0.5rem;  /* auto left/right margins centers the block */
    text-align: center;     /* center the text inside it */
}
.join-link {
  color: var(--lightcolor);
  
}
.join-link:hover {
  text-decoration: underline;
  font-style: bold;
}